.navbar-brand, .navbar-brand:hover {
    color: #ef172c;
}

/* side bar background */
.menu-list {
    background-color: #ef172c !important;
}

/* side bar font color -> sub menu */
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
    color: #fff;
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
    background: #ef172c;
}



/* side bar font color -> menu header */
.sidebar-dark .nav-divider {
    color: #fff;
}

/* side bar active menu */
.sidebar-dark .nav-left-sidebar .navbar-nav .nav-link:focus, 
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover,
.sidebar-dark.nav-left-sidebar .navbar-nav:link
 {
    background-color: #b30000;
}

/* side bar icons */
.sidebar-dark.nav-left-sidebar .nav-link i {
    color: #fff;
}

/* side bar menu drop down */
.nav-left-sidebar .submenu {
    background: #800000;
}

/* header account option */
.nav-user-info {
    background-color: #ef172c !important;
}





/* CHARTS */

.bar-chart {
    position: relative;
    width: 100%;
    background-color: #3e50b4;
}


.bar-chart > .item {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
}

.bar-chart > .item:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 1px;
    height: 8px;
    background-color: #000;
    margin-top: -8px;
}

.bar-chart > .item.text-right:before {
    right: 0;
    left: auto;
}

.bar-chart > .item h4 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bar-chart > .chart {
    position: relative;
    width: 100%;
}

.bar-chart > .chart > .item {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}


.bar-chart > .chart > .item > .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff8640;
    z-index: 5;
}

.bar-chart > .chart > .item > .bar > .percent {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-right: 12px;
    z-index: 15;
}

.bar-chart > .chart > .item > .bar > .item-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #3e50b4;
    z-index: 10;
}

.bar-chart > .chart > .item > .bar > .item-progress > .title {
    display: block;
    position: absolute;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    letter-spacing: 2px;
    z-index: 15;
}

/* datatables */

input[type="search"]  {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
  }
  
.dataTables_wrapper {
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
padding: 20px;
}

.danger {
    background-color: #ef172c;
    color: #fff;
}

.nav-divider > h4 {
    color: #fff;
}