body {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: center;

}
.login-form {
    /* float: right;
    background-color: aqua; */
}

.logo {
    height: 50%;
    width: 50%;
    margin-bottom: 5%;
}